<style>
  .exampleText{
  color: grey;
  }
</style>



<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SmartCalendar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body class="container-fluid">


<!-- Modal to Register a member-->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registerModalLabel">Register as a new Member</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Please enter your first name: <input class="exampleText" type="input" id="fName" value="Christine"><br/>
        Please enter your last name: <input class="exampleText" type="input" id="lName" value="Balbin"><br/>
        Please enter your email: <input class="exampleText" type="input" id="userEmail" value="example@gmail.com"><br/>
        Please enter your password: <input class="exampleText" type="input" id="pass" value="something secret"><br/>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Register</button>
      </div>
    </div>
  </div>
</div>
<!--end modal to register a member-->


{#    {% include 'includes/_navbar.html' %}#}
<script   src="https://code.jquery.com/jquery-3.4.1.min.js"   integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="   crossorigin="anonymous"></script>
    <script src="http://yui.yahooapis.com/3.18.1/build/yui/yui-min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <div class="container pt-3">
{#        {% include 'includes/_messages.html' %}#}
        {% block body %}{% endblock %}
    </div>
{#    <script src="http://yui.yahooapis.com/3.18.1/build/yui/yui-min.js"></script>#}
{#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>#}
{#    <script src="https://cdn.ckeditor.com/4.11.3/standard/ckeditor.js"></script>#}
{#    <script type="text/javascript">#}
{#        CKEDITOR.replace('editor')#}
{#    </script>#}
  </body>

</html>