{% extends 'layout.html' %}

{% block body %}

<style>
.card-title{
    background-color: rgba(150,150,150,.8);
    color: white;
}

.card{
    height: 130px;
}



</style>
    <span><h1 class="text-center">Schedule a Class!</h1></span><span><!-- Button trigger modal --><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registerModal">
Register as a Member</button></span>
    <br>
    <h3 class="text-center"><button class="btn btn-primary float-left"> << </button> {{ monthTitle }} <button class="btn btn-primary float-right"> >> </button></h3>
    <br>
<div class="container-fluid">
  <div class="row seven-cols text-center">
    <div class="col">Sun</div>
    <div class="col">Mon</div>
    <div class="col">Tue</div>
    <div class="col">Wed</div>
    <div class="col">Thu</div>
    <div class="col">Fri</div>
    <div class="col">Sat</div>
  </div>
{% for week in month %}
    <div class="row seven-cols">
        {% for day in week %}
            <div class="card col m-0 p-0">
            <div class="card-body m-0 p-0 {% if day < today %} bg-secondary text-white {% endif %} {% if day == today %} bg-primary text-white {% endif %}">
            <h5 class="card-title text-center m-0 p-0">{{ day.day }}</h5>
            {% if day.weekday() == 0 or  day.weekday() == 2 or day.weekday() == 4 %}
                <a href="#" class="card-link card-text m-0 p-0">Lorem ipsum</a>
            {% endif %}
            </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}
</div>

{% endblock %}
<div class="card">{{ day.day }}</div>