{% extends 'layout.html' %}

{% block body %}

<style>
.card-title{
    background-color: rgba(150,150,150,.8);
    color: white;
}

.card{
    height: 130px;
}



</style>

    <h3 class="text-center">{{ today.month }}/{{ today.year }}</h3>
<div class="container-fluid">
  <div class="row seven-cols text-center">
    <div class="col">Sun</div>
    <div class="col">Mon</div>
    <div class="col">Tue</div>
    <div class="col">Wed</div>
    <div class="col">Thu</div>
    <div class="col">Fri</div>
    <div class="col">Sat</div>
  </div>
{% for week in month %}
    <div class="row seven-cols">
        {% for day in week %}
            <div class="card col m-0 p-0">
            <div class="card-body m-0 p-0">
            <h5 class="card-title text-center m-0 p-0">{{ day.day }}</h5>
            <p class="card-text m-0 p-0">Lorem ipsum</p>
            </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}
</div>

{% endblock %}
<div class="card">{{ day.day }}</div>