{% extends 'layout.html' %}

{% block body %}
    <h3 class="text-center">{{ today.month }}/{{ today.year }}</h3>
<div class="container-fluid">
  <div class="row seven-cols">
    <div class="col-sm-1">Sun</div>
    <div class="col-sm-1">Mon</div>
    <div class="col-sm-1">Tue</div>
    <div class="col-sm-1">Wed</div>
    <div class="col-sm-1">Thu</div>
    <div class="col-sm-1">Fri</div>
    <div class="col-sm-1">Sat</div>
  </div>
{% for week in month %}
    <div class="row seven-cols">
        {% for day in week %}
            <div class="col-sm-1">{{ day.day }}</div>
        {% endfor %}
    </div>
{% endfor %}
</div>

{% endblock %}